
  <div class="page-sidebar">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation">
      <li class="xn-logo">
        <a href="index.html">{{userType.Fname}}  {{userType.Lname}}</a>
        <a href="#" class="x-navigation-control"></a>
      </li>
      <li class="xn-profile">
        <a href="#" class="profile-mini">
          <img src="assets/assets/images/users/avatar.jpg" alt="John Doe" />
        </a>
        <div class="profile">
          <div class="profile-image">
            <img src="assets/assets/images/users/avatar.jpg" alt="John Doe" />
          </div>
          <div class="profile-data">
            <div class="profile-data-name">{{userType.Fname}}  {{userType.Lname}}</div>
          </div>
          <div class="profile-controls">
            <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
            <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
          </div>
        </div>
      </li>
        
      
      <li>
        <a [routerLink]="['/dashboard']"><span class="fa fa-dashboard"></span> <span class="xn-text">Dashboard</span></a>
      </li> 
      
      <li><a [routerLink]="['/addclient']" *ngIf="userType.Usertype == '1'" ><span class="fa fa-user"></span>Add Client</a></li>

      <li><a [routerLink]="['/client']" *ngIf="userType.Usertype == '1'" ><span class="fa fa-user"></span>Show Client</a></li>

      <li><a [routerLink]="['/adduser']" *ngIf="userType.Usertype == '2'" ><span class="fa fa-user"></span>Add user</a></li>

      <li><a [routerLink]="['/user']" *ngIf="userType.Usertype == '2'" ><span class="fa fa-user"></span>Show User</a></li>

      <li><a [routerLink]="['/drive']" *ngIf="userType.Usertype == '3'"><span class="fa fa-user"></span>Drive</a></li>

<!--       
      <li  class="xn-openable">
        <a href="javascript:void(0)"><span class="fa fa-users"></span> <span class="xn-text">Client</span></a>
        <ul class="xn-inside h-auto">
          <li><a [routerLink]="['/addclient']"><span class="fa fa-user"></span>Add Client</a></li>
          <li><a [routerLink]="['/client']"><span class="fa fa-user"></span>Show Client</a></li>
        </ul>
      </li> -->

      <!-- <li class="xn-openable2">
        <a href="javascript:void(0)"><span class="fa fa-user"></span> <span class="xn-text">User</span></a>
        <ul class="xn-inside2 h-auto">
            <li><a [routerLink]="['/adduser']"><span class="fa fa-user"></span>Add user</a></li>
          <li><a [routerLink]="['/user']"><span class="fa fa-user"></span>Show User</a></li>
        </ul>
      </li>  -->

    </ul>
    <!-- END X-NAVIGATION -->
  </div>



