<div class="page-container">
  <app-header></app-header>
    <!-- PAGE CONTENT -->
    <div class="page-content">
      <app-top-header></app-top-header>
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb mt-5r">
        <li><a href="#">Home</a></li>
        <li class="active">Client</li>
      </ul>
      <div class="page-content-wrap">
      <div class="panel panel-default">
          <div class="panel-heading">
              <div class="panel-title-box">
                  <h3>Client</h3>
              </div>
              <table id="example" class="table table-border" style="width:100%">
                  <thead>
                      <tr>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Email</th>
                          <th>Mobile</th>
                          <th>Status</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let addData of allData let i = index">
                          <td>{{addData.Fname}}</td>
                          <td>{{addData.Lname}}</td>
                          <td>{{addData.Email}}</td>
                          <td>{{addData.Mobile}}</td>
                          <td *ngIf="addData.Status == '1'">Active</td>
                          <td *ngIf="addData.Status == '0'">InActive</td>
                          <td>
                                <ui-switch  *ngIf="checkboxValue == true" (click)="updateClient(addData.Id, 0)" ></ui-switch>
                                <ui-switch *ngIf="checkboxValue == false" (click)="updateClient(addData.Id, 1)" ></ui-switch>
                          </td>
                      </tr>                      
                  </tbody>
                  <!-- <tfoot>
                      <tr>
                          <th>Name</th>
                          <th>Position</th>
                          <th>Office</th>
                          <th>Age</th>
                          <th>Start date</th>
                          <th>Salary</th>
                      </tr>
                  </tfoot> -->
                </table>
          </div>
          <div class="panel-body padding-0">
              <div class="chart-holder" id="dashboard-donut-1" style="height: 200px;"></div>
          </div>
      </div>
</div>
  
    </div>
</div>