.mt-5r{margin-top: 5rem;}
.plr-15{padding:0 15px;}
.w-auto{width: auto;}
.chart{margin-top: 10rem;}

#bar-chart.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
 }

#bar-chart{width:100%;}

#pie-chart.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
 }

#pie-chart{width:100%;}

.upload-doc{position: relative;}
.upload-btn-wrapper {
    position: absolute;
    right: 15px;
    overflow: hidden;
    display: inline-block;
  }
  
  .upload-btn {
    background-color: white;

    /* border: 2px solid gray;
    color: gray;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold; */
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }


  .folder-section{display: inline-flex;}
  .folder-section span{padding: 25px;font-weight: 600;}

.img-set{height: 70px;}

.addFolder{
  position: absolute;
  right: 1rem;
  top: 10rem;
}
.addFolder img{width: 64px;}

.img-set{
  height: 100px;
}

.btn-small{
  margin-top: -17px;
  margin-right: -11px;
}
