<div >
    <div class="col-sm-12">
      <div class="upload-doc">
        <div class="form-group">
          <form action="fileupload" [formGroup]="addImage">
            <div class="upload-btn-wrapper" >
              <button class="btn upload-btn" >
              <img src="../../assets/img/upload.png"/></button>
              <!-- <input type="file" name="myfile"  /> -->
              <input id="file-input" name="profile" *ngIf="access" type="file" (change)="handleFileChanged($event)" />
            </div>
            <div class="addFolder" >
              <button class="btn upload-btn" [disabled]="access == 0" data-toggle="modal" data-target="#addFolder">
                <img src="../../assets/img/addFolder.svg" />
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2" *ngFor="let names of name">
    <a href="common/{{names.Folder_name}}">
    <div class="row plr-15">
      <div class="panel panel-default w-auto">
        <div class="col-md-12">
          <div class="folder-section">
            <img src="../../assets/img/folder.png" class="img-set" />
            <span>{{names.Folder_name}}</span>
          </div>
        </div>
      </div>
    </div>