<div class="page-container">
  <app-header></app-header>
  <!-- PAGE CONTENT -->
  <div class="page-content">
    <app-top-header></app-top-header>
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Drive</a></li>
      <li class="active">Folders</li>

    </ul>



    <div >
      <div class="col-sm-12">
        <div class="upload-doc">
          <div class="form-group">
            <form action="fileupload" [formGroup]="addImage">
              <div class="upload-btn-wrapper" >
                <button class="btn upload-btn" >
                <img src="../../assets/img/upload.png"/></button>
                <!-- <input type="file" name="myfile"  /> -->
                <input id="file-input" name="profile" *ngIf="access" type="file" (change)="handleFileChanged($event)" />
              </div>
              <div class="addFolder" >
                <button class="btn upload-btn" [disabled]="access == 0" data-toggle="modal" data-target="#addFolder">
                  <img src="../../assets/img/addFolder.svg" />
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2" *ngFor="let names of name">
      <a href="common/{{names.Folder_name}}">
      <div class="row plr-15">
        <div class="panel panel-default w-auto">
          <div class="col-md-12">
            <div class="folder-section">
              <img src="../../assets/img/folder.png" class="img-set" />
              <span>{{names.Folder_name}}</span>
            </div>
          </div>
        </div>
      </div>
    </a>
    </div>

    <ul class="breadcrumb">
      <li><a href="#">Files</a></li>
    </ul>

    <div class="col-md-2" *ngFor="let image of images">
      <div class="row plr-15">
        <div class="panel panel-default w-auto">
          <div class="col-md-12">
            <div class="folder-section" >
              <img src="{{apiUrl}}{{folder.Fname}}/{{image.File_name}}" class="img-set" />
              <span>{{image.File_name | slice:0:6}}</span>
            </div>
            <button [disabled]="access == 0" class="btn btn-danger btn-small"><i class="fa fa-download"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="modal fade" id="addFolder" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->

  <form action="createdirectory" method="POST"> 

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Folder</h4>
        </div>
        <div class="modal-body">
          
            <div class="form-group">
               <!-- <select name="companyname" id="companyid" class="form-control">
                    <option value="">{{}}</option>
                </select> -->
                <input type="text" class="form-control" disabled name="companyname" [(ngModel)]="companyname">
            </div>

          <div class="form-group">
            <input type="text" class="form-control" name="foldername" [(ngModel)]="foldername">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="createDirectory()"  data-dismiss="modal">CREATE</button>
        </div>
      </div>
  
    </form>
  </div>
</div>