<div class="page-container">
    <app-header></app-header>
    <!-- PAGE CONTENT -->
    <div class="page-content add-client">
        <app-top-header></app-top-header>
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb mt-5r">
            <li><a href="#">Home</a></li>
            <li class="active">Client</li>
        </ul>


        <!-- <div class="container">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title-box">
                                <h3>Add Client</h3>
                            </div>                                    
                            <ul class="panel-controls" style="margin-top: 2px;">
                                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                    </ul>                                        
                                </li>                                        
                            </ul>                                    
                        </div>                                
                        <div class="panel-body padding-0">
                           <div class="col-md-3"></div>
                           <div class="col-md-6">
                               <br>
                                <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" name="fname" id="fname" class="form-control">
                                </div>

                                <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" name="lname" id="lname" class="form-control">
                                </div>

                                <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" name="email" id="email" class="form-control">
                                </div>

                                <div class="form-group">
                                        <label>Mobile</label>
                                        <input type="text" name="mobile" id="mobile" class="form-control">
                                </div>

                                <div class="form-group">
                                        <label>Password</label>
                                        <input type="text" name="fname" id="fname" class="form-control">
                                </div>

                                <br><br>

                                <input type="submit" class="btn btn-success" name="submit">
                                
                                <br><br>

                           </div>
                        </div>                                    
                    </div>
        </div> -->

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-content-wrap">

                        <div class="row">
                            <div class="col-md-12">

                                <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><strong>Add New Client</strong> </h3>
                                            <ul class="panel-controls">
                                                <li><a href="#" class="panel-remove"><span
                                                            class="fa fa-times"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="panel-body">

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">First name</label>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="fa fa-pencil"></span></span>
                                                        <input type="text" formControlName="firstName" class="form-control" />
                                                    </div>
                                                   </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Last name</label>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="fa fa-pencil"></span></span>
                                                        <input type="text" formControlName="lastName" class="form-control" />
                                                    </div>
                                                   </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Email</label>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="fa fa-envelope"></span></span>
                                                        <input type="text" formControlName="email" class="form-control" />
                                                    </div>
                                                   </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Mobile</label>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="fa fa-phone"></span></span>
                                                        <input type="text" formControlName="mobile" class="form-control" />
                                                    </div>
                                                   </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Password</label>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="fa fa-unlock-alt"></span></span>
                                                        <input type="password" formControlName="password" class="form-control" />
                                                    </div>
                                                   </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Confirm Password</label>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="fa fa-unlock-alt"></span></span>
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                   </div>
                                            </div>

                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-default">Clear Form</button>
                                            <button class="btn btn-primary pull-right">Submit</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>