<div class="page-container">
    <app-header></app-header>
    <!-- PAGE CONTENT -->
    <div class="page-content add-client">
        <app-top-header></app-top-header>
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb mt-5r">
            <li><a href="#">Home</a></li>
            <li class="active">User</li>
        </ul>


        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-content-wrap">

                        <div class="row">
                            <div class="col-md-12">

                                    <form class="form-horizontal" [formGroup]="registerForm">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"><strong>Add New User</strong> </h3>
                                            <ul class="panel-controls">
                                                <li><a href="#" class="panel-remove"><span
                                                            class="fa fa-times"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="panel-body">

                                                <div class="form-group">
                                                        <label class="col-md-3 col-xs-12 control-label">Company Name</label>
                                                        <div class="col-md-6 col-xs-12">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><span
                                                                        class="fa fa-pencil"></span></span>
                                                                <select formControlName="companyname" id="companyid" class="form-control">
                                                                    <!-- <option selected>Select Your Company Name</option> -->
                                                                    <option value="{{userType.Id}}">{{userType.Fname}} {{userType.Lname}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">First Name</label>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="fa fa-pencil"></span></span>
                                                        <input type="text" formControlName="firstName" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Last Name</label>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="fa fa-pencil"></span></span>
                                                        <input type="text" formControlName="lastName" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Email</label>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="fa fa-envelope"></span></span>
                                                        <input type="text" formControlName="email" class="form-control" />
                                                    </div>
                                                   </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Mobile</label>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="fa fa-phone"></span></span>
                                                        <input type="text" formControlName="mobile" class="form-control" />
                                                    </div>
                                                   </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Password</label>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="fa fa-unlock-alt"></span></span>
                                                        <input type="text" formControlName="password" class="form-control" />
                                                    </div>
                                                   </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-md-3 col-xs-12 control-label">Confirm Password</label>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="fa fa-unlock-alt"></span></span>
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                   </div>
                                            </div>  
                                            <div class="form-group col-md-6 col-xs-12 control-label">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label class="container-check">Read
                                                            <input type="checkbox" checked="checked" formControlName="reads">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-3 col-sm-offset-2">
                                                        <label class="container-check text-left">Write
                                                            <input type="checkbox" formControlName="writes">
                                                            <span class="checkmark2"></span>
                                                        </label>
                                                    </div>
                                                </div>  
                                            </div>                                    
                                        </div>
                                        <div class="panel-footer">
                                            <button class="btn btn-default">Clear Form</button>
                                            <button class="btn btn-primary pull-right" (click)="onSubmit()">Submit</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>