<div class="page-container">
    <app-header></app-header>
    <!-- PAGE CONTENT -->
    <div class="page-content">
        <app-top-header></app-top-header>
        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Dashboard</li>
        </ul>

        <div class="col-md-8">
            <div class="panel panel-default" id="bar-chart">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Overall Score</h3>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="javascript:void(0)" class="panel-fullscreen" id="bar-panel-fullscreen"><span
                                    class="fa fa-expand"></span></a></li>
                        <!-- <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li> -->
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                    class="fa fa-cog"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span>
                                        Collapse</a></li>
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
                <div class="panel-body padding-0">
                    <div class="col-sm-6">
                        <google-chart #chart [title]="title2" [type]="type2" [data]="data2" [columnNames]="columnNames2"
                            [options]="options2" [width]="width2" [height]="height2">
                        </google-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" id="pie-chart">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3>Control Status</h3>
                    </div>
                    <ul class="panel-controls" style="margin-top: 2px;">
                        <li><a href="#" class="panel-fullscreen" id="pie-panel-fullscreen"><span
                                    class="fa fa-expand"></span></a></li>

                    </ul>
                </div>
                <div class="panel-body padding-0">
                    <div class="chart">
                        <google-chart #chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames"
                            [options]="options" [width]="width" [height]="height">
                        </google-chart>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>